<div id="<%= dom_id proponent %>">
  <p>
    <strong>Name:</strong>
    <%= proponent.name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= proponent.cpf %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= proponent.date_of_birth %>
  </p>

</div>
